In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
h=pd.read_csv("_house expenses.csv")
h

   area  bedroom  years old   price
0  2600      3.0         20  550000
1  3000      4.0         15  565000
2  3200      NaN         18  610000
3  3600      3.0         30  680000
4  4000      5.0          8  725000

In [8]:
med=np.floor(h.bedroom.median())
med

3.0

In [14]:
h.bedroom.fillna(med)

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: bedroom, dtype: float64

In [16]:
h.bedroom=h.bedroom.fillna(med)
h

   area  bedroom  years old   price
0  2600      3.0         20  550000
1  3000      4.0         15  565000
2  3200      3.0         18  610000
3  3600      3.0         30  680000
4  4000      5.0          8  725000

In [23]:
mr=linear_model.LinearRegression()
mr.fit(h[['area','bedroom','years old']],h.price)

LinearRegression()

In [27]:
mr.predict([[4500,4,21]])

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([799462.5])

In [29]:
mr.coef_

array([  143.625, -6762.5  ,   337.5  ])

In [31]:
mr.intercept_

173112.5

In [35]:
143.625*4500+4*-6762.5+21*337.5+173112.5

799462.5